#!/usr/bin/env sh

is_osx() {
    [[ $OSTYPE =~ [Dd]arwin ]]
}

alias cp='cp -i'
alias mv='mv -i'
alias vi='vim'
alias vcat='vimcat'
alias pss='ps aux | grep'
alias gcca='gcc -ansi -W -Wall -pedantic -g'
alias g++a='g++ -ansi -W -Wall -pedantic -g'
alias crontab='VIM_CRONTAB=true crontab'
alias msync='rsync -rlpt --progress --exclude "*.swp"'
alias wikit='pandoc -f markdown -t mediawiki'
alias ag='ag -s'
alias -g airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/A/Resources/airport'
alias psql='PAGER="less -S" psql'

is_osx && alias qmake='qmake -spec macx-g++'
