[user]
    name = Dean Morin
    email = morin.dean@gmail.com
[core]
    editor = vim
    filemode = false
    excludesfile = ~/.gitignore
[color]
    ui = always
[diff]
    ;tool = opendiff
    tool = vimdiff
[push]
    default = tracking
[alias]
    ci = commit
    co = checkout
    dl = difftool HEAD~ HEAD
    dt = difftool
    st = status
    mt = mergetool
    tg = tag -n
    ws = rebase --whitespace=fix
